html, body {
    width: 100%;
    height: 100%;
}
.ubicarIcon,.navigationIcon,.zoominIcon,.zoomoutIcon{
    background-size:38px 38px;
    width: 38px;
    height: 38px;
}
.ubicarIcon{
    background-image:url(images/ubicar.png);
}
.navigationIcon{
    background-image:url(images/imprimir.png);
}
.zoominIcon{
    background-image:url(images/imprimir.png);
}
.zoomoutIcon{
    background-image:url(images/imprimir.png);
}
.logo{
    position: absolute;
    z-index: 999;
    width: 240px;
    height: 50px;
    background-image:url(images/logo.png);
}
.olControlAttribution.olControlNoSelect{
    display: none;
}
#header{
	background-size: 100% 100%;
	background-image:url(images/bg_banner.png);
	background-repeat:repeat;
}
#banner{
    padding: 0;
    width: 100%;
    height: 90px;
    background-image:url(images/banner.png);
    background-repeat:no-repeat;
    background-position:left top;
}
#toolbarContainer{
	width: 100%;
	height: auto;
	padding: 0;
}
#toolbarContainer > div:nth-child(1){
	background-color: transparent !important;
}
